**/.DS_Store

ecma_references/**/*.js
ecma_references/**/*.d.ts
ecma_references/**/*.map
!ecma_references/**/types/*.d.ts

stage_utilities/**/*.js
stage_utilities/**/*.d.ts
stage_utilities/**/*.map
!stage_utilities/**/types/*.d.ts

code_generation/**/*.js
code_generation/**/*.d.ts
code_generation/**/*.map
!code_generation/**/types/*.d.ts

objectgraph_handlers/**/*.js
objectgraph_handlers/**/*.d.ts
objectgraph_handlers/**/*.map
!objectgraph_handlers/**/types/*.d.ts

exported_decorators/**/*.js
exported_decorators/**/*.d.ts
exported_decorators/**/*.map
!exported_decorators/**/types/*.d.ts

mirror_membranes/**/*.js
mirror_membranes/**/*.d.ts
mirror_membranes/**/*.map
!mirror_membranes/**/types/*.d.ts

Gulpfile.d.ts
Gulpfile.js
Gulpfile.js.map

playground/
.tsimp
