node_modules/
**/.DS_Store
_*/generated
_*/**/playground
_*/spec-generated
_*/**/ts-stdout.txt
_*/**/tsconfig.json
_*/class-references.json
_*/**/class-references.json

old-build/**/*.mjs.map
old-build/**/*.d.mts
old-build/**/tsconfig.json
old-build/tsconfig.json
old-build/**/ts-stdout.txt
old-build/generated
old-build/spec-generated

playground/
.tsimp
