node_modules/
docs/dist/staging/
**/.DS_Store
_*/generated
_*/spec-build/playground
_*/spec-generated
_*/**/ts-stdout.txt
_*/**/tsconfig.json

_*/**/*.mjs
_*/**/*.mjs.map
_*/**/*.d.mts
!_*/types/**/*.d.mts

build/**/*.mjs.map
build/**/*.d.mts
build/**/tsconfig.json
build/tsconfig.json
build/**/ts-stdout.txt
build/generated
build/spec-generated

playground/
