node_modules
*.js
*.d.ts
*.js.map
**/*.js
**/*.js.map
**/*.d.ts
!**/types/**/*.d.ts
dist/**
source/public/core-host/types/Virtualization262.d.ts
!source/public/guest/searchReferences.d.ts
!source/public/guest/searchReferences.js
!source/rollup.config.js

playground
spec/playground
