#grid-outer {
  display: grid;
  grid-template-columns: 600px 400px 250px;
  grid-gap: 5px;

  font-family: Verdana, sans-serif;
}

#tabbox-files-cell {
  width: 1002.5px;
  overflow-x: scroll;
  grid-column-start: 1;
  grid-column-end: 3;
}

#tabbox-files {
  display: grid;
  /* The repeat section is for new grid cells added for values to wrap */
  grid-template-columns: 50px 100px 5px /*repeat(x, auto)*/ 5px 95px 65px;
}

#tabbox-files > span.tabgroup:first-child {
  grid-column-start: 4; /* after the Start and first spacer cells */
}

#tabbox-files-load + label {
  grid-column-start: 1;
}

#tabbox-files-addPanel + label {
  grid-column-start: -3;
}

#grid-outer .tabbar > input[type="radio"]
{
  display: none;
}

#grid-outer .tabbar > input[type="radio"] + label,
#tabbox-files > span.tabgroup {
  border: 1px solid black;
  padding: 1px;
}

#tabbox-files > span.tabgroup {
  background-color: #00ff00;
  font-style: italic;
}

#grid-outer .tabbar > input[type="radio"]:disabled + label {
  color: #7f7f7f;
}

#grid-outer .tabbar > input[type="radio"]:not(:checked) + label {
  background-color: #cccccc;
}

#grid-outer .tabbar > input[type="radio"]:checked + label {
  background-color: #ffffff;
}

#grid-outer .tabbar > input[type="radio"]:not(:checked) + label > img {
  background-position: 0px 4px;
}

#grid-outer-mainpanels {
  width: 600px;
  height: 600px;
  overflow: scroll;
}

#tabbox-function-traps > label {
  display: block;
}

#grid-outer > * {
  border: 1px solid green;
}

#grid-outer-mainpanels > section {
  display: none;
  padding: 5px;
}

#grid-outer[filesTab="load"] > #grid-outer-mainpanels > section.loadPanel,
#grid-outer[filesTab="membrane"] > #grid-outer-mainpanels > section.membranePanel,
#grid-outer[filesTab="addValue"] > #grid-outer-mainpanels > section.addPanel,
#grid-outer[filesTab="output"] > #grid-outer-mainpanels > section.output
{
  display: block;
}

#grid-outer[filesTab="load"] > #tabbox-function-traps > label,
#grid-outer[filesTab="membrane"] > #tabbox-function-traps > label,
#grid-outer[filesTab="addValue"] > #tabbox-function-traps > label,
#grid-outer[filesTab="output"] > #tabbox-function-traps > label
{
  display: none;
}

#grid-outer-mainpanels section.error {
  background-color: #ffcccc;
  border: 2px solid #ff0000;
  font-family: monospace;
}

#grid-outer button.icon {
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

#grid-outer button.icon[disabled] {
  opacity: 0.3;
}
