#help-and-notes > * {
  height: 600px;
}

#help-and-notes > article {
  overflow: scroll;
}

#help-and-notes > *:not([data-selected="true"]) {
  display: none;
}

button.helpButton {
  background-image: url("icons/Tango-style_question_icon.svg");
}
