#help-and-notes {
  height: 600px;
  overflow: scroll;
}

#help-and-notes > *:not([data-selected="true"]) {
  display: none;
}

button.helpButton {
  padding: 0;
  border: none;
  background-image: url("icons/Tango-style_question_icon.svg");
  width: 16px;
  height: 16px;
}
