body {
  font-family: Verdana;
}
#TestDriver-iframe
{
  min-width: 600px;
  height: 400px;
  resize: both;
}

#test-startup
{
  display: none;
}

#objectGraph-standardBody
{
  font-family: monospace;
  white-space: pre;
}

#objectGraphTable button
{
  white-space: normal;
  float: left;
}

#objectGraphTable tbody td
{
  border: 1px dashed black;
}

section[collapsed="true"]
{
  display: none;
}

#Freeform-table tbody td
{
  border: 1px dashed black;
}
