#grid-outer-membrane-objectgraphs {
  display: grid;
  grid-template-columns: 110px 80px 20px;
}

#grid-outer-membrane-objectgraphs > button.deleteRow {
  background-image: url("../icons/close.svg");
}

#grid-outer-membrane-objectgraphs > button.addRow {
  background-image: url("../icons/plusicon.svg");
  grid-column-start: -2;
}
