node_modules
playground

Gulpfile.d.ts
Gulpfile.js
Gulpfile.js.map

stage_*/*.js
stage_*/*.d.ts
stage_*/*.map
stage_*/**/*.js
stage_*/**/*.d.ts
stage_*/**/*.map
!stage_*/**/types/*.d.ts
!stage_*/**/types/**/*.d.ts
stage_*/tsconfig.json
stage_*/**/tsconfig.json

utilities/**/*.js
utilities/**/*.js.map
utilities/**/*.d.ts
!utilities/**/_types/*.d.ts
!utilities/**/_types/**/*.d.ts
utilities/tsconfig.json

use-cases/**/*.js
use-cases/**/*.js.map
use-cases/**/*.d.ts
!use-cases_*/**/types/*.d.ts
!use-cases_*/**/types/**/*.d.ts
use-cases/tsconfig.json

gulp-utilities/**/*.js
gulp-utilities/**/*.js.map
gulp-utilities/**/*.d.ts
