node_modules
playground

Gulpfile.d.ts
Gulpfile.js
Gulpfile.js.map

stage_*/*.js
stage_*/*.d.ts
stage_*/*.map
stage_*/**/*.js
stage_*/**/*.d.ts
stage_*/**/*.map
!stage_*/**/types/*.d.ts
!stage_*/**/types/**/*.d.ts
stage_*/tsconfig.json
stage_*/**/tsconfig.json

utilities/**/*.js
utilities/**/*.js.map
utilities/**/*.d.ts
!utilities_*/**/types/*.d.ts
!utilities_*/**/types/**/*.d.ts
utilities/tsconfig.json

use-cases/**/*.js
use-cases/**/*.js.map
use-cases/**/*.d.ts
!use-cases_*/**/types/*.d.ts
!use-cases_*/**/types/**/*.d.ts
use-cases/tsconfig.json

gulp-utilities/**/*.js
gulp-utilities/**/*.js.map
gulp-utilities/**/*.d.ts
!gulp-utilities/cleanTSC_output.js
!gulp-utilities/assertRepoIsClean.js

stage_2_generation/dist
stage_2_integration/snapshot
stage_2_integration/typings-snapshot
stage_2_snapshot/snapshot/dist
stage_2_snapshot/snapshot/docs
stage_2_snapshot/snapshot/coverage
stage_3_generation/dist
stage_3_integration/snapshot
stage_3_integration/typings-snapshot
stage_3_snapshot/snapshot
